{%extends "base.html"}

{%block content%}
div class="jumbotron" style="text-align: center">
	<div id="mySidebar" class="sidebar">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	  <a href="{{url_for('contact')}}">About</a>

		<a href="{{url_for('login')}}">LOGOUT</a>
	</div>
<h1 style="border-bottom-color: black;
border-bottom-style: solid;
border-bottom-width: 2px;">AGRICULTURE MANAGEMENT</h1>
<div id="main"style="text-align:left">
  <button class="openbtn" onclick="openNav()">☰ </button>

</div>
</div>
<div class="card">
	<div class="card-body">




<div id="home" class="container" style="background-color:#b3e3c0" >
  <p style="font-size:20px">THIS WEBSITE PROVIDES USEFUL INFORMATION REQUIRED FOR FARMERS REGARDING THEIR REGION, THE CROPS TO BE GROWN IN A PARTICULAR
     REGION AND THE PRICES OF CROPS THEY WISH TO KNOW.</p>
     <br>
  <h2>KNOW THE RIGHT CROP:</h2>
  <p>Click here to select your region and know if your growing the right crop.</p>
  <a class="btn btn-primary" href="{{url_for('crop_info')}}" role="button" >MODIFY</a>

  <br><br><br>
  <h2>KNOW THE CROP PRICE:</h2>
  <p>Click here to select your crop and the price in the market.</p>
  <a class="btn btn-primary" href="{{url_for('crop_price')}}" role="button" >MODIFY</a>
	<br><br><br>
	<h2>INPUT YOUR DATA:</h2>
  <p>Click here to input your crop investment and profit and get statistics about it.</p>
  <a class="btn btn-primary" href="{{url_for('crop_price')}}" role="button" >MODIFY</a>
<br><br><br><br>
</div>
</div>
</div>
<br><br><br><br>

{%endblock%}
