{% extends "basic.html" %} {% block content %}
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" align="center" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %} {% endif %} {% endwith %}
{% if form.errors %}
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" align="center" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{ form[field_name].label }}: {{ error }}
          {% endfor %}</div>
      {% endfor %}

{% endif %}
<a id="login" style="float:right" class="btn btn-primary" href="{{url_for('login')}}" role="button" align="right">LOGIN</a>
<div class="jumbotron" align="center">
    <h1>AGRICULTURE MANAGEMENT</h1>
    <h2>SIGN UP</h2>
    <br>
    <div class="" style="border-bottom-color: black;
        border-bottom-style: solid;
        border-bottom-width: 2px;">

    </div>
    <div class="container">
        <form method="POST">
          <div class="form-group" style="padding-left:200px;padding-right:200px">


            {{form.hidden_tag()}}
            <br> {{form.email.label}}

            <p> <span class="glyphicon glyphicon-user"></span></p>   <br>{{form.email(class="form-control")}}

            <br> {{form.username.label}}
            <br>{{form.username(class="form-control")}}

            <br> {{form.password.label}}
            <br>{{form.password(class="form-control")}}
            <br> {{form.confirm.label}}
            <br>{{form.confirm(class="form-control")}} {% if form.password.errors %}
            <div class="errors">
                {% for error in form.password.errors %}
                <p style="text-align:center">{{ error }}</p>{% endfor %}
            </div>
            {% endif %}
            <br>
            <br>
            <br>{{form.submit()}}
            <br>
          </div>
        </form>
    </div>
</div>

{% endblock %}
